<!DOCTYPE html>
<html>

<head>
    <title>Sobre o Projeto </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <h1 class="title">Sobre o projeto Bares e Pubs de Campinas</h1>
    <div class="profile">

        <div class="image-profile">
            <img src="img/perfil.jpg" alt="Minha Imagem de Perfil">
        </div>

        <div id="menu">
            <nav>
                <ul>
                    <% for(let i=0; i<menu.length; i++){ %>
                        <li><a href="<%= menu[i].href %>"><%= menu[i].texto %></a></li>
                    <% } %>
                </ul>
            </nav>
            <section>
                <% if(email) { %>
                   Usuario Logado: <span><%= email %></span>
                <% } %>
             </section>
        </div>
        <br><br>
        <div class="about-content">
            <h2>Sobre</h2>
            <p>
                Reunimos nesse projeto os bares e pub mais badalados de campinas para uma tradicional happy hour! 
                E para quem adora curtir o final do dia com os amigos em volta de uma mesa, temos várias dicas de bares e pubs em campinas, 
                para saborear aquela ‘hora feliz’ (ou algumas horas!) na cidade.
            </p>
            <p>
                No cardápio dos locais, diversas opções de petiscos, variadas bebidas e clima descontraído!
            </p>
        </div>
    </div>
    <br><br>
    <hr>
    <br><br>
    <footer>
        <br><br>
        <p>Direito de cópia &copy;
            <script>document.write(new Date().getFullYear())</script>
            Apache License 2.0</p>
        <br><br>
        <nav>
            <ul>
                <a href="https://www.apache.org/licenses/LICENSE-2.0">Sobre a licença</a>
                <a href="/about">Sobre o projeto</a>
                <a href="/authors">Autores</a>
                <a href="/contact">Contato</a>
            </ul>
        </nav>
        <br><br>
    </footer>
</body>

</html>