<!DOCTYPE html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/auth.css">
</head>

<body>
	<h1 class="title">Login</h1>
    <div class="profile">

        <div class="image-profile">
            <img src="img/perfil.jpg" alt="Minha Imagem de Perfil">
        </div>

        <div id="menu">
            <nav>
                <ul>
                    <% for(let i=0; i<menu.length; i++){ %>
                        <li><a href="<%= menu[i].href %>"><%= menu[i].texto %></a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
    <br><br>
    <hr>
	<section>
		<% if(erros) { %>
			<ul>
				<% for(let i = 0; i < erros.length; i++){ %>
					<li>
						<%= erros[i].msg %>
					</li>
				<% } %>
			</ul>
		<% } %>
	</section>

	<h1>Login</h1>
	<form action="/auth-login" method="post">
		<input type="text" name="email" placeholder="Digite o e-mail do usuário" value="<%= usuario.email %>">
		<input type="password" name="password" placeholder="Digite a senha do usuário" value="<%= usuario.password %>">
		<input type="submit" value="enviar">
	</form>

	<br><br>
	<br><br>
    <footer>
        <br><br>
        <p>Direito de cópia &copy;
            <script>document.write(new Date().getFullYear())</script>
            Apache License 2.0</p>
        <br><br>
        <nav>
            <ul>
                <a href="https://www.apache.org/licenses/LICENSE-2.0">Sobre a licença</a>
                <a href="about.html">Sobre o projeto</a>
                <a href="authors.html">Autores</a>
                <a href="contact.html">Contato</a>
            </ul>
        </nav>
        <br><br>
    </footer>
</body>
</html>