<!DOCTYPE html>
<html>

<head>
    <title>Autores </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <h1 class="title">Bares e Pubs de Campinas</h1>
    <div class="profile">

        <div class="image-profile">
            <img src="img/perfil.jpg" alt="Minha Imagem de Perfil">
        </div>

        <div id="menu">
            <nav>
                <ul>
                    <% for(let i=0; i<menu.length; i++){ %>
                        <li><a href="<%= menu[i].href %>"><%= menu[i].texto %></a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <br><br>
        <div class="about-content">
            <h2>Autores</h2>
            <h3>Caio Augusto Barretta: CP300354X</h3>
            <p>
                Analista Desenvolvedor .NET Full Stack Pleno.
            </p>
            <p>
                Instituto Federal de Educação, Ciência e Tecnologia de São Paulo - IFSP
            </p>
			<br>
			<br>
			<h3>Gabriele Leonel: CP3003515</h3>
            <p>
                Analista Desenvolvedor Fluig Pleno.
            </p>
            <p>
                Instituto Federal de Educação, Ciência e Tecnologia de São Paulo - IFSP
            </p>
        </div>
    </div>
    <br><br>
    <hr>
    <br><br>
    <footer>
        <br><br>
        <p>Direito de cópia &copy;
            <script>document.write(new Date().getFullYear())</script>
            Apache License 2.0</p>
        <br><br>
        <nav>
            <ul>
                <a href="https://www.apache.org/licenses/LICENSE-2.0">Sobre a licença</a>
                <a href="/about">Sobre o projeto</a>
                <a href="/authors">Autores</a>
                <a href="/contact">Contato</a>
            </ul>
        </nav>
        <section>
            <% if(email) { %>
               Usuario Logado: <span><%= email %></span>
            <% } %>
         </section>
        <br><br>
    </footer>
</body>

</html>