<!DOCTYPE html>
<html>

<head>
    <title>Visualização Bar </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <h1 class="title">Visualização Bar: <%= bar.barid %></h1>
    <div class="profile">

        <div class="image-profile">
            <img src="img/perfil.jpg" alt="Minha Imagem de Perfil">
        </div>

        <div id="menu">
            <nav>
                <ul>
                    <% for(let i=0; i<menu.length; i++){ %>
                        <li><a href="<%= menu[i].href %>"><%= menu[i].texto %></a></li>
                    <% } %>
                </ul>
            </nav>
            <section>
                <% if(email) { %>
                   Usuario Logado: <span><%= email %></span>
                <% } %>
             </section>
        </div>
    </div>
    <br><br>
    <div class="adicionar-bar-link">
        <a href="/formcadastrobares?action=Add">
            <span class="material-symbols-outlined">add</span>Adicionar Bar
        </a>
    </div>

    <div class="editar-bar-link">
        <a href="/formcadastrobares?action=Edit&barid=<%= bar.barid %>">
            <span class="material-symbols-outlined">edit_square</span>Editar Bar
            <br>
        </a>
    </div>

    <div class="excluir-bar-link">
        <a href="/excluirbar?barid=<%= bar.barid %>">
            <span class="material-symbols-outlined">delete</span>Excluir Bar
            <br>
        </a>
    </div>

    <div>
        <label for="imagem">Imagem:</label>
        <img class="bar-urlimagem" id="img-bar-urlimagem" src="<%= bar.urlimagem %>" alt="<%= bar.nome %>">
    </div>
    <br><br><br><br>
    <div>
        <label for="urlimagem">Url:</label>
        <input type="text" id="urlimagem" name="urlimagem" placeholder="Digite a url da foto do bar" value="<%= bar.urlimagem %>" disabled>
    </div>
    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"value="<%= bar.nome %>" disabled>
    </div>
    <div>
        <label for="descricao">Descrição:</label><br>
        <textarea id="descricao" name="descricao" rows="5" disabled><%= bar.descricao %></textarea>
    </div>
    <br><br><br><br>
    <div>
        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco" value="<%= bar.endereco %>" disabled>
    </div>
    <div>
        <label for="insta">Instagram:</label>
        <input type="text" id="insta" name="insta" value="<%= bar.insta %>" disabled>
    </div>
    <div>
        <label for="fb">Facebook:</label>
        <input type="text" id="fb" name="fb" value="<%= bar.fb %>" disabled>
    </div>
    <div>
        <label for="lat">Latitude:</label>
        <input type="text" id="lat" name="lat" value="<%= bar.lat %>" disabled>
    </div>
    <div>
        <label for="long">Longitude:</label>
        <input type="text" id="long" name="long" value="<%= bar.long %>" disabled>
    </div>
    <br><br>
    
    <div class="adicionar-bar-link">
        <a href="/formcadastrobares?action=Add">
            <span class="material-symbols-outlined">add</span>Adicionar Bar
            <br>
        </a>
    </div>

    <div class="editar-bar-link">
        <a href="/formcadastrobares?action=Edit&barid=<%= bar.barid %>">
            <span class="material-symbols-outlined">edit_square</span>Editar Bar
            <br>
        </a>
    </div>

    <div class="excluir-bar-link">
        <a href="/excluirbar?barid=<%= bar.barid %>">
            <span class="material-symbols-outlined">delete</span>Excluir Bar
            <br>
        </a>
    </div>
    <br><br>
    <footer>
        <br><br>
        <p>Direito de cópia &copy;
            <script>document.write(new Date().getFullYear())</script>
            Apache License 2.0</p>
        <br><br>
        <nav>
            <ul>
                <a href="https://www.apache.org/licenses/LICENSE-2.0">Sobre a licença</a>
                <a href="about.html">Sobre o projeto</a>
                <a href="authors.html">Autores</a>
                <a href="contact.html">Contato</a>
            </ul>
        </nav>
        <br><br>
    </footer>
</body>

</html>