<!DOCTYPE html>
<html>

<head>
    <title>Cadastro Bares </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/cadastrobares.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <h1 class="title">Listagem de bares cadastrados</h1>
    <div class="profile">

        <div class="image-profile">
            <img src="img/perfil.jpg" alt="Minha Imagem de Perfil">
        </div>

        <div id="menu">
            <nav>
                <ul>
                    <% for(let i=0; i<menu.length; i++){ %>
                        <li><a href="<%= menu[i].href %>"><%= menu[i].texto %></a></li>
                    <% } %>
                </ul>
            </nav>
            <section>
                <% if(email) { %>
                   Usuario Logado: <span><%= email %></span>
                <% } %>
             </section>
        </div>
    </div>
    <br><br>
    <div class="adicionar-bar-link">
        <a href="/formcadastrobares?action=Add">
            <span class="material-symbols-outlined">add</span>Adicionar Bar
        </a>
    </div>
    <table>
        <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Descrição</th>
        </tr>
        <% for(let i=0; i<bares.length; i++){ %>
            <tr>
                <td><img class="table-bar-urlimagem" src="<%= bares[i].urlimagem %>" alt="<%= bares[i].nome %>"></td>
                <td><%= bares[i].nome %></td>
                <td><%= bares[i].descricao %></td>
                <td>
                    <a href="/bar?barid=<%= bares[i].barid %>">
                        <span class="material-symbols-outlined">preview</span>
                    </a>
                </td>
                <td>
                    <a href="/formcadastrobares?action=Edit&barid=<%= bares[i].barid %>">
                        <span class="material-symbols-outlined">edit_square</span>
                    </a>
                </td>
                <td>
                    <a href="/excluirbar?barid=<%= bares[i].barid %>">
                        <span class="material-symbols-outlined">delete</span>
                    </a>
                </td>
            </tr>
        <% } %>
    </table>
    <div class="adicionar-bar-link">
        <a href="/formcadastrobares?action=Add">
            <span class="material-symbols-outlined">add</span>Adicionar Bar
            <br>
        </a>
    </div>
    <br><br>
    <footer>
        <br><br>
        <p>Direito de cópia &copy;
            <script>document.write(new Date().getFullYear())</script>
            Apache License 2.0</p>
        <br><br>
        <nav>
            <ul>
                <a href="https://www.apache.org/licenses/LICENSE-2.0">Sobre a licença</a>
                <a href="about.html">Sobre o projeto</a>
                <a href="authors.html">Autores</a>
                <a href="contact.html">Contato</a>
            </ul>
        </nav>
        <br><br>
    </footer>
</body>

</html>