<!DOCTYPE html>
<html>

<head>
    <title>Contato de Usuários </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/contatodeusuarios.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <h1 class="title">Listagem de mensagens de usuários enviadas.</h1>
    <div class="profile">

        <div class="image-profile">
            <img src="img/perfil.jpg" alt="Minha Imagem de Perfil">
        </div>

        <div id="menu">
            <nav>
                <ul>
                    <% for(let i=0; i<menu.length; i++){ %>
                        <li><a href="<%= menu[i].href %>">
                                <%= menu[i].texto %>
                            </a></li>
                        <% } %>
                </ul>
            </nav>
            <section>
                <% if(email) { %>
                    Usuario Logado: <span>
                        <%= email %>
                    </span>
                    <% } %>
            </section>
        </div>
    </div>
    <br><br>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Comentário</th>
            <th>Lido</th>
        </tr>
        <% for(let i=0; i<contato.length; i++){ %>
            <tr>
                <td>
                    <%= contato[i].nome %>
                </td>
                <td>
                    <%= contato[i].email %>
                </td>
                <td>
                    <%= contato[i].comentariosgerais %>
                </td>
                <td>
                    <% if(contato[i].lido) { %> Sim <% } %>
                    <% if(!contato[i].lido) { %> Não <% } %>
                </td>
                <td>
                    <a href="/contact?contatosid=<%= contato[i].contatosid %>">
                        <span class="material-symbols-outlined">preview</span>
                    </a>
                </td>
                <td>
                    <a href="/contact?Read=<%= !contato[i].lido %>&contatosid=<%= contato[i].contatosid %>">
                    <% if(contato[i].lido) { %> Marcar não como lido. <% } %>
                    <% if(!contato[i].lido) { %> Marcar como lido. <% } %>
                    </a>
                </td>
            </tr>
            <% } %>
    </table>
    <br><br>
    <footer>
        <br><br>
        <p>Direito de cópia &copy;
            <script>document.write(new Date().getFullYear())</script>
            Apache License 2.0
        </p>
        <br><br>
        <nav>
            <ul>
                <a href="https://www.apache.org/licenses/LICENSE-2.0">Sobre a licença</a>
                <a href="about.html">Sobre o projeto</a>
                <a href="authors.html">Autores</a>
                <a href="contact.html">Contato</a>
            </ul>
        </nav>
        <br><br>
    </footer>
</body>

</html>