<!DOCTYPE html>
<html>

<head>
    <title>Contato </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    <h1 class="title">Entre em contato</h1>
    <div class="profile">

        <div class="image-profile">
            <img src="img/perfil.jpg" alt="Minha Imagem de Perfil">
        </div>

        <div id="menu">
            <nav>
                <ul>
                    <% for(let i=0; i<menu.length; i++){ %>
                        <li><a href="<%= menu[i].href %>">
                                <%= menu[i].texto %>
                            </a></li>
                        <% } %>
                </ul>
            </nav>
            <section>
                <% if(email) { %>
                    Usuario Logado: <span>
                        <%= email %>
                    </span>
                    <% } %>
            </section>
        </div>
    </div>
    <section>
		<% if(erros) { %>
			<ul>
				<% for(let i = 0; i < erros.length; i++){ %>
					<li>
						<%= erros[i].msg %>
					</li>
				<% } %>
			</ul>
		<% } %>
	</section>
    <% if(mensagem) { %>
        <div style="text-align: center; color: lightgreen;">
            <h2>
                <%= mensagem %>
            </h2>
        </div>
        <% } %>

            <br><br>
            <hr>
            <form action="/contato-salvar" method="post">
                <br>
                <!--Solicite os seguintes dados-->
                <!--• Nome – Obrigatório.-->
                <div>
                    <label for="nome">Nome:<span class="campo-obrigatorio">*</span></label>
                    <input type="text" id="nome" name="nome" placeholder="Entre com seu nome"
                        value="<%= contact.nome %>" required>
                </div>
                <!--• Fone – Obrigatório. -->
                <div>
                    <label for="fone">Fone:<span class="campo-obrigatorio">*</span></label>
                    <input type="tel" id="fone" name="fone" placeholder="Entre com seu telefone celular"
                        value="<%= contact.fone %>" required>
                </div>
                <!--• E-mail – Obrigatório.-->
                <div>
                    <label for="email">Email:<span class="campo-obrigatorio">*</span></label>
                    <input type="email" id="email" name="email" placeholder="Entre com seu e-mail"
                        value="<%= contact.email %>" required>
                </div>
                <!--• Motivo do contato. (Em motivo do contato faça uma pré-seleção das possibilidades 
            e exiba para o usuário clicar sobre)-->
                <div>
                    <label for="motivocontatosid">Motivo do contato:</label>
                    <select id="motivocontatosid" name="motivocontatosid" required>
                        <% for(let i=0; i<motivocontato.length; i++){ %>
                            <% if(contact.motivocontatosid == motivocontato[i].motivocontatosid){ %>
                                <option selected value="<%= motivocontato[i].motivocontatosid %>">
                                    <%= motivocontato[i].nome %>
                                </option>
                              <% } else{ %>  
                                <option value="<%= motivocontato[i].motivocontatosid %>">
                                    <%= motivocontato[i].nome %>
                                </option>
                             <% } %>
                        <% } %>
                    </select>
                </div>
                <!--• Comentários gerais-->
                <div>
                    <label for="comentariosgerais">Comentários Gerais:</label><br>
                    <textarea id="comentariosgerais" name="comentariosgerais"
                        rows="5"> <%= contact.comentariosgerais %> </textarea>
                </div>
                <br>
                <% if(isView) { %>
                    <br><br>
                    <br><br>
                <% } else{ %>  
                    <input type="submit" id="enviar" name="enviar" value="Enviar">
                    <br><br>
                    <p class="campo-obrigatorio">
                        *(Obrigatório)
                    </p>
                 <% } %>
                <br>
            </form>
            <br><br>
            <footer>
                <br><br>
                <p>Direito de cópia &copy;
                    <script>document.write(new Date().getFullYear())</script>
                    Apache License 2.0
                </p>
                <br><br>
                <nav>
                    <ul>
                        <a href="https://www.apache.org/licenses/LICENSE-2.0">Sobre a licença</a>
                        <a href="about.html">Sobre o projeto</a>
                        <a href="authors.html">Autores</a>
                        <a href="contact.html">Contato</a>
                    </ul>
                </nav>
                <br><br>
            </footer>
</body>

</html>