<!DOCTYPE html>
<html>

<head>
    <title>Contato </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/formcadastrobares.css">
</head>

<body>
    <h1 class="title">Formulário para inclusão de bares</h1>
    <div class="profile">

        <div class="image-profile">
            <img src="img/perfil.jpg" alt="Minha Imagem de Perfil">
        </div>

        <div id="menu">
            <nav>
                <ul>
                    <% for(let i=0; i<menu.length; i++){ %>
                        <li><a href="<%= menu[i].href %>"><%= menu[i].texto %></a></li>
                    <% } %>
                </ul>
            </nav>
            <section>
                <% if(email) { %>
                   Usuario Logado: <span><%= email %></span>
                <% } %>
             </section>
        </div>
    </div>

    <section>
		<% if(erros) { %>
			<ul>
				<% for(let i = 0; i < erros.length; i++){ %>
					<li>
						<%= erros[i].msg %>
					</li>
				<% } %>
			</ul>
		<% } %>
	</section>
    <br><br>
    <hr>
    <form action="/cadastrobares-salvar" method="post">
        <br>
        <input type="hidden" id="barid" name="barid" value="<%= bar.barid %>">
        <div>
            <label for="nome">Nome:<span class="campo-obrigatorio">*</span></label>
            <input type="text" id="nome" name="nome" placeholder="Digite o nome do bar" value="<%= bar.nome %>" required>
        </div>
        <div>
            <label for="descricao">Descrição:</label><br>
            <textarea id="descricao" name="descricao" rows="5"  placeholder="Digite o descrição do bar"><%= bar.descricao %></textarea>
        </div>
        <br><br><br><br>
        <div>
            <label for="endereco">Endereço:<span class="campo-obrigatorio">*</span></label>
            <input type="text" id="endereco" name="endereco" placeholder="Digite o endereço do bar" value="<%= bar.endereco %>" required>
        </div>
        <div>
            <label for="insta">Instagram:</label>
            <input type="text" id="insta" name="insta" placeholder="Digite a url do Instagram" value="<%= bar.insta %>">
        </div>
        <div>
            <label for="fb">Facebook:</label>
            <input type="text" id="fb" name="fb" placeholder="Digite a url do Facebook" value="<%= bar.fb %>">
        </div>
        <div>
            <label for="lat">Latitude:<span class="campo-obrigatorio">*</span></label>
            <input type="text" id="lat" name="lat" placeholder="Digite a latitude" value="<%= bar.lat %>">
        </div>
        <div>
            <label for="long">Longitude:<span class="campo-obrigatorio">*</span></label>
            <input type="text" id="long" name="long" placeholder="Digite a longitude" value="<%= bar.long %>">
        </div>
        <div>
            <label for="urlimagem">Url:<span class="campo-obrigatorio">*</span></label>
            <input type="text" id="urlimagem" name="urlimagem" placeholder="Digite a url da foto do bar" value="<%= bar.urlimagem %>" required>
        </div>

        <input type="submit" id="enviar" name="enviar" value="Salvar">
        <br><br>
        <p class="campo-obrigatorio">
            *(Obrigatório)
        </p>
        <br>
    </form>
    <br><br>
    <footer>
        <br><br>
        <p>Direito de cópia &copy;
            <script>document.write(new Date().getFullYear())</script>
            Apache License 2.0</p>
        <br><br>
        <nav>
            <ul>
                <a href="https://www.apache.org/licenses/LICENSE-2.0">Sobre a licença</a>
                <a href="about.html">Sobre o projeto</a>
                <a href="authors.html">Autores</a>
                <a href="contact.html">Contato</a>
            </ul>
        </nav>
        <br><br>
    </footer>
</body>

</html>