<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/error.css">
    <title>home</title>
</head>

<body>

    <h1 class="title">Sobre o projeto Bares e Pubs de Campinas</h1>
    <div class="profile">

        <div class="image-profile">
            <img src="img/perfil.jpg" alt="Minha Imagem de Perfil">
        </div>

        <div id="menu">
            <nav>
                <ul>
                    <% for(let i=0; i<menu.length; i++){ %>
                        <li><a href="<%= menu[i].href %>"><%= menu[i].texto %></a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <br><br>

        <div class="about-content">
            <h2>Vishiiiii, ocorreu um erro. :(</h2>
            <div style="text-align: center;">
                <% if(error) { %>
                    <h2><%= error %></h2>
                <% } %>
                <img src="img/error.png">
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <br><br>
    <footer>
        <br><br>
        <p>Direito de cópia &copy;
            <script>document.write(new Date().getFullYear())</script>
            Apache License 2.0</p>
        <br><br>
        <nav>
            <ul>
                <a href="https://www.apache.org/licenses/LICENSE-2.0">Sobre a licença</a>
                <a href="/about">Sobre o projeto</a>
                <a href="/authors">Autores</a>
                <a href="/contact">Contato</a>
            </ul>
        </nav>
        <br><br>
    </footer>
</body>

</html>