table, th, td {
    border:1px solid black;
  }

.adicionar-bar-link{
    display: inline-block;
    border:1px solid black;
    background-color: lightgreen;
}

.editar-bar-link{
    display: inline-block;
    border:1px solid black;
    background-color: lightskyblue;
}

.excluir-bar-link{
    display: inline-block;
    border:1px solid black;
    background-color: lightcoral;
}

.bar-urlimagem{
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 63%;
}

input, textarea, select{
    width: 30%;
    float: right;
    margin-right: 50%;
    font-family: monospace;
}

label{
    font-family: monospace;
    margin-left: 20px;
}