table, th, td {
    border:1px solid black;
  }

.adicionar-bar-link{
    display: inline-block;
    border:1px solid black;
    background-color: lightgreen;
}

.table-bar-urlimagem{
    width: 100px;
    height: 100px;
}