 *{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
 }

 div, h1, h2, h3, p{
   margin: 10px;
 } 

 a {
    font-size: medium;
    margin: 0px 10px;
    text-decoration: none;
    color: inherit;
 }

 a:visited, a:active {
    color: inherit;
 }

 a:hover{
    background-color: lightgray;
 }

 .title{
    text-align: center;
    color: dimgray;
 }

 .image-profile{
    display: inline-block;
    width: 200px;
 }
               
 .image-profile img{
    width: 200px;
 }

 .profile{
    display: flex;
 }
 #menu nav ul{
    padding-left: 0px;
 }
 #content{
   width: 100%;
   height: 100%;
 }
 #content-topo{
    display: flex;
 }

 #menu nav ul li{
    display: inline-table;
 }


 body ul li{
    padding: 5px;

 }

 .about-content{
   border: floralwhite ridge 1px;
   background-color: rgb(255, 255, 245);
   padding: 5px 0px;
 }

.about-content p{
   line-height: 2;
}

#search-map{
   margin-top: 15px;
   display: flex;
   width: 58%;
   height: 20px;
}

#search-map-input{
   width: 70%;
   margin-right: 5px;
}
#search-map-select{
   width: 20%;
   margin-right: 5px;
}
#search-map-submit{
   width: 10%;
}

#mapid { 
   height: 300px;
   width: 90%;
   border: solid 1px black;
}


#spotlight-img-1, #spotlight-img-2, #spotlight-img-3{
   margin-right: 10px;
   height: 150px;
   width: 20%;
}

 footer{
    background-color: lightgray;
 }

 footer a:hover{
    background-color: whitesmoke;
 }


 section{
   background-color: lightgray;
}